* {
    margin: 0;
    padding: 0;
}

body {
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

}

.cabecalho {
    background-color: #68A6A3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0;
}

.cabecalho-imagem {
    width: 57%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 25px;
    font-size: 27px;
    list-style:none;
}

.cabecalho-lista-item-a {
    text-decoration: none;
    color: white;
}

.animais-imagem {
    width: 290px;
}

.animais-div {
    text-align: center;
    color: #FE9C34;
    font-size: 25px;
}

.animais-titulo {
    text-align: center;
    padding: 25px 0;
    color: #68A6A3;
    font-size: 25px;
}

.animais-todos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    
}
    .colaboradores-imagem {
        width: 280px;
    }
    
    .colaboradores-div {
        text-align:center;
        color:#FE9C34;
        font-size: 25px;
    
    }
    
    .colaboradores-titulo {
        text-align: center;
        padding: 25px 0;
        color: #68A6A3;
        font-size: 35px;
    }
    
    .colaboradores-todos {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
}

    .colaborador-icone {
        width: 25px;
        
    }
    
    .rodape-imagem{
        height: 151px;
    }
    
    .Flor-imagem {
        width: 360px;
    }
    
    .informaçoes{
        color: #68A6A3;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        padding: 50px 0;
    }

    .informaçoes-div-conteudo{
    font-size: 24px;
    }
    
    .Peak-imagem {
        width: 360px;
    }

    .Estrela-imagem {
        width: 360px;
    }
    .Estrela-imagem2 {
        width: 390px;
    }

    .Jota-imagem {
        width: 360px;
    }
    .Jota-imagem2 {
        width: 400px;
    }

    .Pedro-imagem {
        width: 360px;
    }

    .Nico-imagem {
        width: 350px;
    }
    
    .Diva-imagem {
        width: 390px;
    }
    
    .Diva-imagem2 {
        width: 350px;
    }
    